* {
  box-sizing: border-box;
}
 .essay {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 7.5%;
  text-indent:50px;
}
.center {
  text-align: center;
}
.img {
  margin:auto;
}
.bold {
  font-weight:bold;
  font-size:20px;
  
}
.title {
  font-weight: bold; 
  font-size:24; 
  padding:0px 
}
/* make a class in the body not around the body
thanks */