* {
   box-sizing: border-box;
}
body {
  font-family: 'Amatic SC', cursive;
  margin: 0;
  text-align:center;
}
.navbar1 { /*navbar button class?*/
  overflow: hidden;
  background-color: #333;
  position:fixed;
}

.navbar1 a { /*button class*/
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown1 { /*dropdown item holder class*/
  float: left;
  overflow: hidden;
}

.dropdown1 .dropbtn1 { /*initialization for dropdown 1 */
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  
}

@keyframes mymove { /*dropdown animation*/
  from {top: -133px;}
  to {top: 47px;}
  
}

.navbar1 a:hover { /*color for all buttons*/
  background-color: blue;
}

.dropdown1:hover .dropbtn1 {
  background-color: green;
}

.dropdown-content1 { /*settings for dropdown 1*/
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  animation-name: mymove;
  animation-duration: 0.5s;
}

.dropdown-content1 a { /*font settings for dropdown 1*/
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content1 a:hover { /*hover color for dropdown 1*/
  background-color: #ddd;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.navbar2 a:hover, .dropdown2:hover .dropbtn2 {
  background-color: red;
}

.dropdown2 {
  float: left;
  overflow: hidden;
}

.dropdown2 .dropbtn2 {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  
}


.dropdown-content2 {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  animation-name: mymove;
  animation-duration: 0.5s;
}

.dropdown-content2 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content2 a:hover {
  background-color: #ddd;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}